<% provide(:title, "About") %>
<div class="row">
    <div class="row">
        <div class="small-12 small-centered columns">
            <h2 class="tc">What is Koifrog?</h2>
            <hr>
            <div class="small-12 small-centered columns">
                <p class="tj">Koifrog's mission is to provide businesses with solutions they need in any way we can. Our key focuses lie in developing resources for your business or otherwise equipping you with the means to develop solutions on your own. We can also act as a
                    transparency layer for your IT department, as a Scrum Master by removing impediments your IT team faces, and as consultants for your development needs. In a nutshell, we apply our technological insights where you need them, and for a fair price.</p>
            </div>
            <h2 class="tc">Why do you need Koifrog?</h2>
            <hr>
            <div class="small-12 medium-6 columns tl">
                <h3>If you're a large business,</h3>
                <p>
                    you need to invest in transparency layers and quality control. Too often we see large businesses whose IT branches that have outgrown not just their administrative staff, but also their business practices in terms of streamlining their production
                    or web presence. This isn't the fault of anyone in particular on your team; as companies change and grow they have to adapt, and we're here to help you with that. Don't suffer from the common symptoms of a quickly growing company! Keep your branding
                    up to today's standards, make sure your web presence is responsive and intuitively navigated, keep your clients and stakeholders happy with the front-end you've provided them, and don't settle for substandard work.</p>
            </div>
            <div class="small-12 medium-6 columns tl">
                <h3>If you're a small business,</h3>
                <p>
                    you need to ditch all of the guesswork when implementing IT solutions, and you need someone with
                    <strong>your</strong>
                    interest in mind when consulting companies about potential solutions. We've seen small warehouses using different software systems to track their inventory, manufacturing, point of sale, shipping and receiving, training, and payroll. Having 6
                    different softwares you need to learn is inherently an obstacle for your business; it means there is very little flexibility in terms of who can accomplish things that need to be done, limited by which softwares people are familiar with. Let us
                    develop a single, custom-tailored app that unifies your work flows in a way that makes hiring new employees easy for them
                    <strong>
                        and
                    </strong>
                    you.</p>
            </div>
        </div>
    </div>
</div>
