<div class="row">
    <div class="small-12 small-centered columns" style="text-align:center;">
        <h2>Welcome to Koifrog</h2>
        <p>Let's talk about how you can do better things on the internet.</p>
    </div>
</div>
<div class="row show-for-medium-up" style="width:100% !important;">
	<hr class="hide-for-small">
	<div class="appendArrows"></div>
    <div class="small-12 columns">
        <div class="stage">
            <div class="bb-d tc">
                <span class="va">
                    <h2 >Web Development</h2>
                    <p>At Koifrog we believe in enabling our clients to do as much or as little as they'd like to.</p>
                    <div class="small-12 medium-6 columns">
                        <h3 class="tc">Put Us to Work</h3>
                        <hr>
                        <p>We can build you a complex web app from scratch to help manage your data, then host it for you on a CDN to deliver your content at screaming fast speeds.</p>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <h3 class="tc">Make Your Own Solution</h3>
                        <hr>
                        <p>We can teach you or your staff to build and manage sites hosted at a location you select. We can host almost anywhere, including your office's server, a third party host provider, or through Koifrog's own hosting plans.</p>
                    </div>
                </span>
            </div>
            <div class="bb-xd tc">
                <div class="va">
                    <h2>Intranet Solutions</h2>
                    <p>If you have resources they need to be centralized.</p>
                    <div class="small-12 medium-6 columns">
                        <h3>Use One App</h3>
                        <hr>
                        <p>We see a lot of businesses using multiple applications for specific tasks; often times businesses will have an ERP, an inventory management software, a point of sale software, and more. Having those software resources communicate to each other is
                            always a hassle, and training employees to use multiple software platforms is inefficient. We can work with you to centralize all of your solutions into a single, custom tailored application.</p>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <h3>Get Training</h3>
                        <hr>
                        <p>We equip administrative staff with enterprise level project collaboration software and training. Never allow your company to be held back by communication bottlenecks. Take decisions you make in the board room directly to the warehouse with Koifrog.</p>
                    </div>
                </div>
            </div>
            <div class="bb-l tc">
                <div class="va">
                    <h2>Consulting and Arbitration</h2>
                    <p>Do you know what your IT Staff are up to?</p>
                    <div class="small-12 medium-6 columns">
                        <h3>Transparency is Key</h3>
                        <hr>
                        <p>How many meetings have you had with your IT crew this month? In those meetings, did you understand the tech talk? Administrative staff shouldn't have to learn the IT world in order to manage their teams, but the unfortunate truth is
                            <strong>if you don't understand what your team is saying there is no way to be sure they are working at all.</strong>
                            Let someone from our team sit in on your meetings as a third party and we'll make sure your team is doing their job. If they hit road blocks or need help, we can step in and give them a hand.</p>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <h3>Do You Need an Expert?</h3>
                        <hr>
                        <p>Koifrog takes a strong stance towards development ethics. We take steps to ensure that our code is not just functional, it is also ethical. If you've run into development problems that need legal or ethical consulting we can provide you with the
                            knowledge you need. We also offer ethical development courses and host an open forum about what is and isn't ethical to practice when developing applications for the web.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row show-for-small-only">
    <div class="small-12 columns">
        <div class="tc">
            <div class="va">
                <div class="small-12 medium-6 columns">
                    <hr>
                    <h3 class="tc">Put Us to Work</h3>
                    <hr>
                    <p>We can build you a web app from scratch to help manage your data, then host it for you on a CDN to deliver your content at screaming fast speeds.</p>
                </div>
                <div class="small-12 medium-6 columns">
                    <hr>
                    <h3 class="tc">Make Your Own Solution</h3>
                    <hr>
                    <p>We can teach you or your staff to build and manage sites hosted at a location you select. We can host almost anywhere, including your office's server, a third party host provider, or through Koifrog's own hosting plans.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<hr class="hide-for-small">
	<ul class="small-block-grid-2 medium-block-grid-4 icon-summary tc">
		<li>
			<h3>
				<%=
					icon_link('fi-shopping-cart','https://developer.microsoft.com/en-us/windows')
				%>
			</h3>
			<p>Let's make an online shop you can manage without having to call tech support. Then let's connect it to your inventory so you always know what's in your warehouse.</p>
		</li>
		<li>
			<h3>
				<%=
					icon_link('fi-graph-trend','https://developer.microsoft.com/en-us/windows')
				%>
			</h3>
			<p>Get live data about who is visiting your site; utilizing analytics platforms like Segment.io we can track high resolution data for your site's human interaction.</p>
		</li>
		<li>
			<h3>
				<%=
					icon_link('fi-page-multiple','https://developer.microsoft.com/en-us/windows')
				%>
			</h3>
			<p>Take advantage of our intranet solutions and never go file hunting again. All of your company's resources in one place, all the time, without the clutter or duplicates.</p>
		</li>
		<li>
			<h3>
				<%=
					icon_link('fi-lightbulb','https://developer.microsoft.com/en-us/windows')
				%>
			</h3>
			<p>If you or someone from your organization needs to acquire web development skills, don't waste time trying to learn from generic videos online; let us train your people into a competent web team.</p>
		</li>
	</ul>
</div>
