<div class="mt-0">
  <h3 class="tc mt-1"><%= image_tag("logo_color.png", alt:"Throw us a line", size:"256x256")%></h3>
</div>
<div align="center">
  <div class="row mt-4 tc small-12 large-6">
	<div class="panel">
	  	<%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
	    <%= f.input :name, :required => true, :placeholder=> 'Name' %>
	    <%= f.input :email, :required => true, :placeholder=> 'Email' %>
	    <%= f.input :message, :as => :text, :required => true, :placeholder=> 'Message' %>
	    <div class= "hidden">
	      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	    </div>
	    <div>
	      </br>
	      <%= f.button :submit, 'Send message', :class=> "button success" %>
	    </div>
	    <% end %>
	</div>
  </div>
</div>
