<footer class="footer">
	<div class="mf-l">
		<div class="row full-width">
			<!-- MAD RESPEKT -->
			<div class="small-12 columns">
                <ul class="small-block-grid-5 large-block-grid-9 footer-links">
					<li>
						<strong>#Respect</strong>
					</li>
					<li>
						<%=
							icon_link('fa fa-linux','http://www.linux.org/')
						%>
					</li>
                    <li>
						<%=
							icon_link('fi-html5','https://www.w3.org/TR/html5/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-css3','https://www.w3.org/TR/CSS/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-foundation','http://foundation.zurb.com/')
						%>
					</li>
	        	</ul>
	    	</div>
			<!-- END MAD RESPEKT -->
		</div>
	</div>
	<div class="mf-d">
		<div class="row full-width">
			<div class="small-12 columns show-for-small-only">
				<span>
					<strong>What we do:</strong>:
				</span>
				<ul class="small-block-grid-8  footer-links">
					<li>
						<%=
							icon_link('fi-social-android','http://developer.android.com/index.html')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-apple','https://developer.apple.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-windows','https://developer.microsoft.com/en-us/windows')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-twitter','https://dev.twitter.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-facebook','https://developers.facebook.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-linkedin','https://developer.linkedin.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-google-plus','https://developers.google.com/+/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-instagram','https://www.instagram.com/developer/')
						%>
					</li>
				</ul>
			</div>
			<div class="small-12 columns hide-for-small">
				<ul class="small-block-grid-9  footer-links">
					<li>
						<strong>What we do:</strong>
					</li>
					<li>
						<%=
							icon_link('fi-social-android','http://developer.android.com/index.html')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-apple','https://developer.apple.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-windows','https://developer.microsoft.com/en-us/windows')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-twitter','https://dev.twitter.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-facebook','https://developers.facebook.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-linkedin','https://developer.linkedin.com/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-google-plus','https://developers.google.com/+/')
						%>
					</li>
					<li>
						<%=
							icon_link('fi-social-instagram','https://www.instagram.com/developer/')
						%>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mf-xd">
		<div class="row full-width">
			<!-- LETS DO GOOD THINGS -->
	        <div class="small-12 large-6 columns">
				<div style="margin-top:20px;">
					<%= image_tag("logo_grey.png", alt:"Koi fish and frog", size:'160x160')%>
				</div>
	            <span>Let's take our skills and put them to
	                <strong>good</strong>
	                use.</span>
	            <p>
	                Koifrog, an initiative by Aaron McCoy
	            </p>
	        </div>
			<!-- END LETS DO GOOD THINGS -->
			<!-- EDUCATE FTW -->
		    <div class="small-12 large-6 columns">
		        <h4>Learn from us</h4>
				<hr>
		        <ul class="footer-links">
		            <li><%= link_to "Classes", classes_path %></li>
		            <li><%= link_to "Contact", contact_path %></li>
		        </ul>
		    </div>
			<!-- END EDUCATE FTW -->
		</div>
	</div>
</footer>
