<header>
    <div>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
						<%= link_to " #{image_tag('logo_white.png', alt:'Koi fish and frog', size:'32x32')} Koifrog".html_safe, root_path, id: "logo" %>
                    </h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>Menu</span>
                    </a>
                </li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right lighten">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Skills", skills_path %></li>
                    <li><%= link_to "Classes", classes_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                </ul>
            </section>
        </nav>
    </div>
</header>
