<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title><%=full_title(yield(:title))%></title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Alegreya+Sans:400,900|Work+Sans:400,800|Teko:400,700|Archivo+Black|Bevan', :media => "all" %>
        <%= stylesheet_link_tag    "application" %>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "vendor/modernizr" %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= render 'layouts/header' %>
		<%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    </body>
</html>
